@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered" style="margin:20px">
    <thead>
        <tr>
            <th>Fatura Seri - Sıra No</th>
            <th>Tarih</th>
            <th>Saat</th>
            <th>Toplam ₺</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
            <th>Yemi Kalem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fatura in Model)
        {
            <tr>
                <td>@fatura.FaturaSeriNo - @fatura.FaturaSiraNo</td>
                <td>@Convert.ToDateTime(fatura.Tarih).ToString().</td>
                <td>@fatura.Saat</td>
                <td>@fatura.Toplam</td>
                <td><a href="/Fatura/FaturaGetir/@fatura.Faturaid" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Fatura/FaturaDetay/@fatura.Faturaid" class="btn" style="background-color:lightcoral;color:white">Fatura Detay</a></td>
                <td><a href="/Fatura/FaturaDetay/@fatura.Faturaid" class="btn btn-default" style="background-color:thistle;color:white">Kalem</a></td>

            </tr>
        }
    </tbody>
</table>
<a class="btn btn-info" href="/Fatura/FaturaEkle">Yeni Fatura Giriş</a>
<br />
<br />
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>
<!-- Modal -->
<div class="modal fade" id="Modal1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Popup Diyalog Ekranı</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Seri No</td>
                        <td>Sıra No</td>
                        <td>Tutar</td>
                    </tr>
                    @foreach(var x in Model) {
                    <tr>
                        <td>@x.FaturaSeriNo</td>
                        <td>@x.FaturaSiraNo</td>
                        <td>@x.Toplam</td>
                    </tr>
                    }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>

        </div>
    </div>
</div>